<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-4">
<div class=" card shadow row">
    <h1 class="text-center mt-3">Login</h1>
    <div class="col-8 offset-2">
        <img class="card-img-top" src="https://img.icons8.com/carbon-copy/100/user.png" alt="user"/>
        <!-- <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/07/09/03/24/log-in-6398177_640.png" alt="user"/> -->

        <form action="/login" method="POST" novalidate class="validated-form">
            <div class="mb-2">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" autofocus required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
           
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="d-grid gap-2 mb-2">
                <button class="btn btn-success" >Login</button>
            </div>
        </form>
    </div>
</div>
</div>
